@import "./abstracts/all";


::-webkit-scrollbar{
    width: .8rem;
}
::-webkit-scrollbar-thumb{
    background:$linearGradient1;
    border-radius: 1rem;

}
::-webkit-scrollbar-track{
    background:none;
}