@import './variables';

@mixin keyframes-animation($name) {
    @keyframes #{$name} {
        @content;
    }
}

@mixin gradientText {
    background: $linearGradient1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
