@import './font';

$primaryFont: 'Zekton';
$secondaryFont: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

$backgroundColour: #131313;
$blue1: #4cc9f0;
$blue2: #00b5ec;
$blue3: #0087b1;
$linearGradient1: -webkit-linear-gradient(100deg,$blue1, rgb(45, 73, 156));
